/*-------------------
  Banner Top
-------------------*/
.banner-top{
	background: #0056b3;
	padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.banner-title{
	color: #fff;
}
.banner-title h1{
	font-size: 21px;
}
/*-------------------
  Head custom
-------------------*/
.btn-airnav{
	text-transform: none;
	border: 1px solid #3e47ae;
	padding: 0px 10px!important;
	margin-top: 8px;
	border-radius: 4px;
}
.btn-airnav:hover{
	border:1px solid #005ca1;
}
.section-content{
	padding-top: 60px;
}
/*-------------------
  Berita dan pengumuman
-------------------*/
.news-section{
	padding-top: 25px;
	margin-bottom: 25px;
	background-color: #f3f3f3;
}
.img-news{
	position: relative;
	overflow: hidden;
	height: 125px;
}
.img-news img{
	position: absolute;
	width: 100%;
	height: 125px;
}
.news-category h4{
	font-weight: normal;
	font-size: 12px;
	color: #d92621;
}
.news-category h1{
	font-weight: bold;
    font-size: 14px;
}
.news-category a{
	color: #333;
}
.news-category a:hover{
	color: #000;
	text-decoration: none;
}
.news-body{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.tgl-news{
	color: #626262;
	font-size: 11px;
}
/*-------------------
  Tender
-------------------*/
.tender-section{
	margin-bottom: 25px;
}
.title-airnav{

}
.title-airnav h1{
	font-size: 21px;
	color: #2c3382;
}
.all-projek{
	text-align: right;
	margin-top: 5px;
}
.all-projek a{
	font-size: 14px;
    font-weight: normal;
    color: #626262;
}
.all-projek a:hover{
	color: #005ca1;
	text-decoration: none;
}
.paket-tender{
	padding: 10px 10px;
}
.desc-paket{
	margin: 10px 10px;
}
.title-paket{
	font-size: 14px;
	text-align: left;
}
.title-paket a{
	color: #333;
	font-weight: bold;
}
.title-paket a:hover{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.sub-paket{

}
.isi-paket{
	text-align: right;
}
.line-paket{
	margin-bottom: -25px;
}
.img-paket img{
	width: 100%;
}
.slick-prev:before, .slick-next:before{
	color: #ddd;
}
/*-------------------
  Pendaftaran
-------------------*/
.pendaftaran{
	/*padding-top: 20px;
    padding-bottom: 20px;*/
    background: url('../img/news/news-01.jpg')no-repeat top center ;
    background-size: cover;
    position: relative;
    padding-top: 80px;
    background-attachment: fixed;
}
.side-daftar{
	height: 500px;
}
.side-daftar img{
	height: 100%;
	width: 100%;
	padding: 100px 0px;
}
.daftar-content{
	padding-top: 27%;
    position: relative;
}
.naloh{
	background: rgba(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.form-daf {
    margin: 12%;
}



.pendaftaran2{
	background: url('../img/news/news-01.jpg') no-repeat;
	height: 700px;
	width: 100%;
}
.side-daftar2 img{
	height: 500px;
	width: 100%;
}
.form-daftar{
	margin-top: 20px;
}
.tombol-daftar{
	text-align: right;
}
/*-------------------
  List Projek
-------------------*/
.list-projek{
	padding-top: 20px;
	padding-bottom: 20px;
}
.list-projek-body{
	margin-top: 40px;

}
.tend-status{
	margin-top: 10px;
}
.title-pencarian h1{
	font-size: 16px;
}
.penyedia-cari{
	text-align: right;
}
.pencarian{
	border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.pencarian-form{
	border: 1px solid #ddd;
    padding: 15px;
    margin-top: 10px;
}

/*-------------------
  Member daftar
-------------------*/
.member-daftar{
	padding-top: 20px;
	padding-bottom: 40px;
}
.title-nav{
	padding-top: 10px;
}
.title-nav h1 {
	font-size: 16px;
}
.subtitle-nav h2{

}
.form-pendaftaran{
	margin-top: 20px;
}
.form-pendaftaran h2{
	font-size: 14px;
    color: #333;
    font-weight: normal;
    padding-bottom: 20px;
}
.form-pendaftaran .numbering{
	padding-right: 10px;
}
.simpan-daftar{
	margin-top: 20px;
	text-align: right;
}
/*-------------------
  Detail Tender
-------------------*/
.tender-detail{

}
/*-------------------
  Tender Selesai
-------------------*/
.tender-selesai{
	padding-top: 20px;
	padding-bottom: 40px;
	color: #333;
}
.tender-selesai h1{
	font-size: 16px;
}
.tender-selesai p{
	color: #333;
	font-family: 'Arial';
	margin-bottom: 0;
}


/*-------------------
  Component
-------------------*/
.card-airnav{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 20px;
}
.card-airnav:hover{
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
label{
	font-size: 14px;
}
.form-control{
	font-size: 14px;
}
.login-title{
	text-align: center;
}
.login-airnav{
	margin-top: 8%;
}
.btn-cari{
	color:#fff!important;
	text-transform: none;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	color: #fff !important;
    border: 1px solid #979797;
    background: #005ca1!important;
    padding: 3px 10px;
    font-size: 14px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    font-size: 14px;
}
#datatable_length select{
	background: #fff;
    padding: 3px 0px;
    border-radius: 2px;
    font-size: 14px;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;

    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.dataTables_wrapper .dataTables_info{
	font-size: 14px;
}
table{
	font-size: 14px;
}

.table-airnav {
	margin-top: 20px;
}
.table-airnav tr{

}
.one-pride:hover{

}
.one-pride a{
	color: #333;
}
.one-pride a:hover{
	color: #005ca1;
	text-decoration: none;
}
.title-type-a{

}
.spse-3{
	background: #30A00B; /*hijau*/
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 9px;
    color:#fff;
}
.spse-1{
	background: #d92621; /*merah*/
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 9px;
    color:#fff;
}
.spse-4{
	background: #005ca1; /*biru*/
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 9px;
    color:#fff;
}
.spse-2{
	background: #FF5733; /*orange*/
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 9px;
    color:#fff;
}
.labeling-1{
	background: #ddd; /*abu*/
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    color:#333;
}
.nikon{
    font-size: 12px;
    margin-bottom: 0px;
}
.desc-tend{
	font-size: 12px;
	margin-bottom: 0px;
}
.table-airnav tr.even {
    background-color: #f7f7f7!important;
}
.overlay{
	background: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.btn-cust{
	text-transform: none;
}

/* ---------tabs-----------*/
.tab-airnav-content{
	margin-top: 20px;
}
.airnav-tabs {
    border-bottom: 1px solid #DEE2E5;
}
.nav-tabs .nav-link {
    border: 0px solid transparent!important; 
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #333;
}
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid #0056b3 !important;
}
.airnav-tabs .nav-item.show .nav-link, .airnav-tabs .nav-link.active {
    color: #0056b3;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.grup-form{
	padding: 25px 15px;
    border: 1px solid #ddd;
}

.eureun-top{
    position: fixed;
    z-index: 1;
    top: 60px;
    background: #fff;
}
.container .eureun-top{
    background: #fff;
    width: 73.3%;
}
.tombol-tambah{
	text-align: right;
}
.action{
	display: inline-flex;
}
.action a{
	padding-right: 20px;
}
.dropdown-menu.show {
    display: block;
    width: 250px;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}
.airnav-bold{
	font-weight: bold;
}
.sub-table{
	margin-top: -10px;
	width: 100%;
}
.sub-table td{
	border-top: 0px;
}
.evaluasi-title{
	font-weight: bold;
}
.body-evaluasi{
	padding: 15px;
}
.konten-title-evaluasi{
	font-weight: bold;
    margin-bottom: 0;
}
.penawaran-evaluasi{
	padding-top: 10px;
}
.hasil-evaluasi{

}
.addres-detail{
	font-size: 14px;
    color: #505050;
    padding-bottom: 10px;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 26px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #035ab3;
    left: 20px;
    width: 15px;
    height: 15px;
    z-index: 400;
}
.tahapan-waktu{

}
